{% extends "layout.html" %}
{% block content %}

<body>
  <h1>Rock Paper Scissors Game</h1>
  <div class="container">
    <form class="" action="/" method="post">
      <label for="username">Enter your username</label>
      <input type="text" name="username" value="" placeholder="Your username...">
      <button type="submit" name="login">Start session</button>
    </form>
  </div>
  <div class="container">
    <a href="{{url_for('stats')}}">
      <h2>Show today's stats</h2>
    </a>
  </div>

</body>

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/style.css">
  <title>Rock-Paper-Scissors</title>
</head>

<body>
  <h1>Rock Paper Scissors Game</h1>
  <div class="container">
    <form class="" action="/" method="post">
      <label for="username">Enter your username</label>
      <input type="text" name="username" value="" placeholder="Your username...">
      <button type="submit" name="login">Start session</button>
    </form>
  </div>
  <div class="container">
    <a href="{{url_for('stats')}}"><h2></h2></a>
  </div>

</body>

</html> -->
